.a2 {
  .a2-portada {
    picture {
        img {
        width: 200px;
        height: 200px;
          }
    }
    .a2-portada-texto {
      h1 {
      }
      h2 {
      }
      h3 {
      }
    }
  }
  .a2-article {
    .a2-titulo {
      h2 {
      }
    }
    .a2-parrafo{
        p{

        }
    }
    .a2-imagen{
        picture{
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
  }
}
