.index-body {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr) 50px;
  .index-menu {
    grid-column: span 5;
    grid-row: span 10;
    width: 100%;
    height: 100%;
    /*    background: #ff0000;
    background: linear-gradient(
      90deg,
      #ff0000 13%,
      #bf0000 40%,
      #830000 83%,
      #000000 100%
    );*/
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    .pentagono-box {
      grid-column: 8 / span 2;
      grid-row: 5 / span 2;
      width: 100%;
      height: 100%;
      position: relative;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      .v1 {
        //*Horizontal - Vertical
        transform: translate(0%, -110%);
        .service-1 {
          background: rgb(193, 177, 248);
          transform: translate(-110%, -110.5%);
          display: none;
        }
      }
      .v2 {
        transform: translate(-90%, -55%);
        .service-2 {
          transform: translate(-101%, -119.6%);
          background: rgb(255, 215, 215);
          display: none;
        }
      }
      .v3 {
        transform: translate(-90%, 55%);
        .service-3 {
          transform: translate(-101%, -137.9%);
          background: #e1fc82;
          display: none;
        }
      }
      .v4 {
        transform: translate(0%, 110%);
        .service-4 {
          transform: translate(-110%, -147%);
          background: #fec2ec;
          display: none;
        }
      }
      .v5 {
        transform: translate(90%, 55%);
        .service-5 {
          transform: translate(-119%, -137.9%);
          background: #ffc9a8;
          display: none;
        }
      }
      .v6 {
        transform: translate(90%, -55%);
        .service-6 {
          transform: translate(-119%, -119.5%);
          background: #c1ddff;
          display: none;
        }
      }
      .hexagonos {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        height: 100%;
        width: 100%;
        background: #fff;
        position: absolute;
        // clip-path: polygon(
        //   25% 0%,
        //   75% 0%,
        //   100% 50%,
        //   75% 100%,
        //   25% 100%,
        //   0% 50%
        // );
        background: #49fcff;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background: #2e2e2e;
          svg {
            color: #49fcff;
          }
        }
        svg {
          width: 90%;
          height: 90%;
          margin: 5%;
        }
        .service {
          margin-top: 350%;
          margin-left: -100%;
          width: 800%;
          background: #ffffff;
          .service-contenido {
            .service-titulo {
              text-align: center;
              font-size: 150%;
            }
            .service-parrafo {
              margin: 5%;
              text-align: justify;
              font-size: 125%;
            }
            .service-mas {
              font-size: 110%;
              color: #242424;
              position: relative;
              padding: 5%;
              &:hover {
                color: blue;
                text-decoration-line: underline;
              }
            }
          }
        }
      }
      .pentakill {
        background: #000;
        svg {
          color: #49fcff;
        }
        .service-1 {
          display: block;
        }
        .service-2 {
          display: block;
        }
        .service-3 {
          display: block;
        }
        .service-4 {
          display: block;
        }
        .service-5 {
          display: block;
        }
        .service-6 {
          display: block;
        }
      }
    }
  }
  .index-login {
    grid-column: span 5;
    grid-row: span 10;
    width: 100%;
    height: 100%;
    background: #000000;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    .index-contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 2 / span 4;
      grid-row: 3 / span 4;
      width: 320px;
      position: relative;
      margin-top: -40px;
      height: 300px;
      background: #ffffff;
      min-height: 318px;
      border-radius: 5px;
      .box-outside {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: -10%;
        .box-inside {
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          text-align: center;
          transition: all 0.4s ease-in-out;
          div {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-position: center center;
            img {
              margin: 10px;
              width: 80px;
            }
          }
          .adelante {
            background: #000000;
            transition: all 0.6s ease-in-out;
          }
        }
        .atras {
          transform: scale(1.5);
          box-shadow: inset 0 0 3px #00000033;
          transition: all 0.4s ease-in-out 0.2s;
          opacity: 0;
        }
      }
      &:hover {
        .adelante {
          transform: scale(0);
        }
        .atras {
          background: #222222;
          transform: scale(1);
          opacity: 1;
          pointer-events: auto;
        }
      }
      input {
        margin: 10px;
        width: 255px;
        font-size: 1.1em;
      }
      .index-titulo-login {
        font-size: 1.5em;
      }
      .index-email {
      }
      .index-password {
      }
      .index-inicio {
        button {
          font-size: 1.1em;
          width: 255px;
          padding: 2px;
        }
      }
      .index-login-registro {
        padding: 10px;
        strong {
          color: #000;
        }
      }
    }
  }
  .index-footer {
    grid-column: span 10;
    grid-row: span 1;
    background: #222222;
    color: #fff;
    padding: 5px;
  }
}
