footer {
    h2 {
        //top right bottom left
        margin: 5px 0px 10px 5%;
    }
    ol {
        list-style: none;
      li {
          margin-left: 10%;
        img {
        }
        span {
  
        }
      }
    }
  }