/*
@media screen and (max-width: 800px) {

}
*/

.index-body {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr) 50px;

  .index-menu {
    grid-column: span 6;
    grid-row: span 10;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 13%,
      rgba(191, 0, 0, 1) 40%,
      rgba(131, 0, 0, 1) 83%,
      rgba(0, 0, 0, 1) 100%
    );
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    .service-pentagono {
      grid-column: 1 / span 4;
      grid-row: 4 / span 4;
      background: #ffffff;
      margin-left: 20px;
      border-bottom: red solid 2px;
      border-radius: 5px;
      .service {
        .service-contenido {
          .service-titulo {
            text-align: center;
            padding: 10px;
          }
          .service-parrafo {
            margin-left: 20px;
            margin-right: 20px;
            text-align: justify;
          }
          .service-mas {
            color: black;
            position: relative;
            padding: 20px;
          }
        }
      }
    }
    .pentagono-box {
      grid-column: 6 / span 1;
      grid-row: 5 / span 2;
      width: 160px;
      height: 140px;
      position: relative;
      margin: auto;
      top: 25px;
      left: 0;
      right: 0;
      bottom: 0;
      .hexagonos {
        height: 60px;
        width: 80px;
        position: absolute;
        clip-path: polygon(
          25% 0%,
          75% 0%,
          100% 50%,
          75% 100%,
          25% 100%,
          0% 50%
        );
        background: #ffffff;
        cursor: pointer;
        &:hover{
          background: black;
          svg{
            color: #fff;
          }
        }
        svg {
          z-index: 999;
          width: 55px;
          height: 55px;
          position: relative;
          top: 2px;
          left: 12.5px;
        }
      }
      .pentakill{
        background: black;
        svg{
          color: #fff;
        }
      }
      .v1 {
        //*Horizontal - Vertical
        transform: translate(0%, -105%);
      }
      .v2 {
        transform: translate(-80%, -50%);
      }
      .v3 {
        transform: translate(-80%, 55%);
      }
      .v4 {
        transform: translate(0%, 105%);
      }
      .v5 {
        transform: translate(80%, 55%);
      }
      .v6 {
        transform: translate(80%, -50%);
      }
    }
  }
  .index-login {
    grid-column: span 4;
    grid-row: span 10;
    width: 100%;
    height: 100%;
    background: #000000;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    .index-contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 2 / span 4;
      grid-row: 2 / span 4;
      width: 320px;
      border-bottom: 2px solid red;
      height: 100%;
      background: #ffffff;
      min-height: 318px;
      border-radius: 5px;
      .box-outside {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: -10%;
        .box-inside {
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          text-align: center;
          transition: all 0.4s ease-in-out;
          div {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-position: center center;
            img {
              margin: 10px;
              width: 80px;
            }
          }
          .adelante {
            background: #092cdc;
            transition: all 0.6s ease-in-out;
          }
        }
        .atras {
          transform: scale(1.5);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
          transition: all 0.4s ease-in-out 0.2s;
          opacity: 0;
        }
      }
      &:hover {
        .adelante {
          transform: scale(0);
        }
        .atras {
          background: rgb(0, 0, 0);
          transform: scale(1);
          opacity: 1;
          pointer-events: auto;
        }
      }
      input {
        margin: 10px;
        width: 255px;
        font-size: 1.1em;
      }
      .index-titulo-login {
        font-size: 1.5em;
      }
      .index-email {
      }
      .index-password {
      }
      .index-inicio {
        button {
          font-size: 1.1em;
          width: 255px;
          padding: 2px;
        }
      }
      .index-login-registro {
        padding: 10px;
        strong {
          color: #000;
        }
      }
    }
  }
}
.index-footer {
  grid-column: span 10;
  grid-row: span 1;
  background: #0059fff8;
}
