.slider {
    position: relative;
    height: 500px;
    min-height: 500px;
    overflow: hidden;
    //background: url(img/R.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .slide {
        position: absolute;
        width: 100%;
        height: 80%;
        clip-path: circle(0% at 50% 50%);
        &.active {
            clip-path: circle(100% at 50% 50%);
            transition: 1s;
        }
        img {
            position: absolute;
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
        .info {
            position: absolute;
            color: #222;
            background: rgba(255, 255, 255, 0.3);
            width: 75%;
            margin-top: 50px;
            margin-left: 50px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 5px 25px #4286f4a8;
            h2 {
                font-size: $size-text-slider-info-h2;
                font-weight: 800;
            }
            p {
                font-size: $size-text-slider-info-p;
                font-weight: 400;
            }
        }
    }
    .navigation {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 0s ease;
        .prev-btn,
        .next-btn {
            z-index: 999;
            font-size: $size-text-slider-navigation-btn;
            color: #222;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 5px 25px #4285F4;
            padding: 10px;
            cursor: pointer;
            .prev-btn {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            .next-btn {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
    }
    &:hover .navigation {
        opacity: 1;
    }
    .navigation-visibility {
        z-index: 999;
        display: flex;
        justify-content: center;
        .slide-icon {
            z-index: 999;
            background: rgba(255, 255, 255, 0.5);
            width: 20px;
            height: 10px;
            transform: translateY(-50px);
            margin: 0 6px;
            border-radius: 2px;
            box-shadow: 0 5px 25px #4285F4;
            &.active {
                background: #005bf8;
            }
        }
    }
}
@media (max-width: 900px) {
    .slider {
        width: 100%;
        .slide {
            .info {
                position: relative;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}