.p3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, $size-box-outside);
  grid-auto-rows: $size-box-outside;
  //top right bottom left
  justify-content: space-evenly;
  // grid-template-rows: masonry;
  .p3-grid {
    width: $size-box-outside;
    margin: 12px;
    .p3-contenedor {
      border-radius: 5px;
      border: 5px solid #242424;
      width: $size-box-inside;
      background: linear-gradient(145deg, #ffffff, #e6e6e6);
      box-shadow: 5px 5px 4px #666666, -5px -5px 4px #ffffff;
      display: inline-block;
      overflow: hidden;
      .p3-box {
        overflow: hidden;
        width: $size-box-inside;
        height: $size-box-inside;
        picture {
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            @include time;
            transform: scale(1.1);
          }
        }
        .p3-categoria {
          background: #000000cc;
          width: $size-box-inside;
          height: 70px;
          text-align: center;
          transform: translate(-2%, -33%);
          @include time;
          span {
            h2 {
              color: #e6e6e6;
              text-transform: capitalize;
              font-size: 1em;
              position: relative;
              font-weight:bolder;
            }
            a {
              color: #e6e6e6;
              font-size: 1em;
              text-transform: capitalize;
              h2 {
                text-transform: capitalize;
                font-size: 1em;
                position: relative;
                font-weight:bolder;
              }
            }
          }
        }
      }
      &:hover {
        .p3-box {
          .p3-categoria {
            transform: translate(-2%, -100%);
          }
          .p3-imagen {
            img {
              will-change: transform;
              @include time;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
