$size-box-outside:252px;
$size-box-inside: 236px;
$size-text-header:1em;
$size-text-aside:1em;
$size-text-box:1em;
$size-text-a-portada:9em;
$size-text-a-eslogan:4em;
$size-text-a-titulo:2.5em;
$size-text-a-parrafo:1.25em;
$size-text-slider-info-h2:2em;
$size-text-slider-info-p:1em;
$size-text-slider-navigation-btn:2em;
$size-text-login:1em;