.contenedor {
    display: grid;
    grid-template-columns: $menu-heigh-externo auto;
    grid-template-rows: $menu-heigh-externo auto;
    //  grid-template-areas: "aside header"
    //      "aside main";

    &.active {
        grid-template-columns: 150px auto;
    }

    .header {
        grid-column: 2/span 1;
        grid-row: 1/ span 1;
        //   grid-area: header;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: $menu-margin $menu-heigh-interno $menu-margin 120px;

        .svg {
            grid-column: 1/span 1;
            grid-row: $grid-row;
        }

        .header-search {
            grid-column: 3 /span 1;
            grid-row: $grid-row;
            display: grid;
            grid-template-columns: 200px 1fr;
            grid-template-rows: $menu-margin $menu-heigh-interno $menu-margin;

            input {
                grid-row: $grid-row;
            }

            button {
                grid-row: $grid-row;
            }
        }

        .switch {
            grid-column: 4 /span 1;
            grid-row: $grid-row;
        }

        .ayuda {
            grid-column: 5 /span 1;
            grid-row: $grid-row;
        }

        .notificaciones {
            grid-column: 6 /span 1;
            grid-row: $grid-row;
        }

        .perfil {
            grid-column: 7 /span 1;
            grid-row: $grid-row;

            .header-menu-desplegable {
                grid-column: 1 /span 1;
                grid-row: 2/span 1;
                display: grid;
                grid-template-rows: repeat(3, $menu-heigh-externo);

                a {
                    display: grid;
                    grid-template-columns: 30px auto;
                }
            }
        }
    }

    .aside {
        //  grid-area: aside;
        grid-column: 1/span 1;
        grid-row: 1/ span 2;
        display: grid;
        grid-template-columns: $menu-heigh-externo;
        grid-template-rows: $menu-heigh-externo 1px repeat(8, $menu-heigh-externo);

        li {
            display: grid;
            grid-template-columns: $menu-heigh-externo 40px;
        }

        li {
            a {
                display: grid;
                grid-template-columns: 50px $menu-margin;
                grid-template-rows: repeat(1, $menu-heigh-externo);

                svg {
                    grid-column: 1/ span 1;
                }

                span {}
            }
        }

    }

    .main {
        //grid-area: main;
        grid-column: 2/span 1;
        grid-row: 2/ span 1;
        display: grid;
        //    grid-template-columns: repeat(auto-fill,230px);
        gap: 20px;
        justify-content: center;
        //esta opcion es para firefox y tienes que ir a con about:config y activar el masonry
        //    grid-template-rows: masonry;
        grid-template-columns: 1fr 50fr 1fr;

        article {
            grid-column: 2/ span 1;

            section {
                display: grid;
                grid-template-columns: 10px 2fr 1fr 1fr 10px;
                grid-template-rows: 50px 25px 250px 10px;
                overflow: hidden;

                h2 {
                    grid-column: 2 /span 1;
                    grid-row: 1/ 2;
                }

                div {
                    //  position: absolute;
                    //  right: 15%;
                    grid-column: 3 / span 2;
                    grid-row: 1 / 3;
                }

                i {
                    grid-column: 2/ span 2;
                    grid-row: 2/ 3;
                }

                p {
                    grid-column: 2/ span 1;
                    grid-row: 3/ 4;
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                }

                img {
                    grid-column: 3/ span 2;
                    grid-row: 3/ 4;
                }

                button {
                    grid-column: 1/ span 4;
                    grid-row: 2/ 3;
                }
            }
        }
    }
}