$text-color-menu:#1f1f1f;
$text-color-menu-hover:#0048ff;
$text-font-size-menu:1.5em;
$wallpaper-menu:#ffd633;
$opacity-on:1;
$opacity-hover:0.7;
$opacity-off:0;
$height-menu:40px;
$grid-column-media:1/span 4;

$wallpaper-libro:#ffcc00;
$color-articulo-titulo:#000;
