$menu-heigh-externo:50px;
$menu-heigh-interno:40px;
$menu-margin:5px;
$grid-row:2/ span 1;
$font-size-aside:1.5em;
$width-aside: 210px;
$margin-left-aside-span:5px;
$margin-top-aside-span:10px;
$menu-contenido:5px;
$width-aside-hover-active: 210px;
$height-aside-hover-active:49px;
//boton y switch
$transition-switch: 0.3 ease-out all;
$border-radius-switch: 1000px;
$dark-wallpaper-switch: #343d5b;
$light-wallpaper-switch: #fff;
$switch-circle: #ffffff;